@font-face {
    font-family: Silka;
    font-weight: 700;
    src: url(assets/fonts/silka-bold.woff2);
  }

@font-face {
    font-family: Silka;
    font-weight: 600;
    src: url(assets/fonts/silka-semibold.woff2);
}

@font-face {
    font-family: Silka;
    font-weight: 500;
    src: url(assets/fonts/silka-medium.woff2);
}

@font-face {
    font-family: Silka;
    font-weight: 400;
    src: url(assets/fonts/silka-regular.woff2);
}

@font-face {
    font-family: SignPainter;
    font-weight: 500;
    src: url(assets/fonts/signpainter.woff2);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Silka";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 3rem;
}

.social-links {
    display: flex;
    justify-content: flex-end;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        margin-left: 1rem;
        background: white;
        box-shadow: 0 4px 24px rgba(0,0,0,0.1);
        transition: .2s ease;
        cursor: pointer;

        svg {
            transition: .1s ease;
            cursor: pointer;
        }

        &:hover {
            svg {
                fill: #B07E4B;
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: SignPainter;
    font-size: 4.5rem;
    color: #442A1B;
    text-align: center;
    margin: 0;
    user-select: none;
}

.gears {
    width: 460px;
    height: 350px;
}

p {
    font-family: Silka, Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.6;
    color: #27160E;
    text-align: center;
    margin: 0 0 3rem 0;
    user-select: none;
}

a.button {
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 600;
    text-transform: uppercase;
    padding: 1.5rem 1.75rem;
    border-radius: 6px;
    background: #FCBC00;
    color: #442A1B;
    text-decoration: none;
    letter-spacing: 2px;
    transition: .2s ease;
    transition-property: transform, background-color, box-shadow;
    box-shadow: 0 16px 40px rgba(252, 188, 0, .32);
    cursor: pointer;

    svg {
        margin-right: .75rem;
        transition: .2s ease;
    }

    &:hover {
        box-shadow: 0 8px 24px rgba(252, 188, 0, .16);
        transform: translate3d(0,4px,0);
    }
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-weight: 500;
    color: #442A1B;

    a {
        position: relative;
        text-decoration: none;
        color: #442A1B;
        transition: .1s ease;
        padding: 1rem .5rem;
        cursor: pointer;
        font-size: 1rem;

        &:hover {
            text-decoration: underline;
            color: #B07E4B;
        }
    }

    span {
        display: block;
        padding-left: .5rem;
        color: #442A1B;
    }

    p {
        font-size: 1rem;
        margin: 0;
        color: #442A1B;
    }
}



/* MEDIA QUERIES */

@media only screen and (max-width: 700px) {

    header {
        position: relative;
        margin-bottom: 3.5rem;
        border-bottom: 1.5px solid #eaeaea;
    }

    nav {
        padding: 2rem .5rem;
    }

    .social-links {
        a {
            width: 50px;
            height: 50px;
            margin-left: .75rem;
        }
    }

    br {
        display: none;
    }

    p {
        margin-bottom: 2rem;
    }

    main {
        flex-direction: column;
        height: auto;
        padding: 0 1rem 0rem 1rem;
    }

    h1 {
        font-size: 3rem;
    }

    .gears {
        width: 90vw;
        height: auto;
    }

    footer {
        position: relative;
        flex-direction: column;
        align-items: center;
        margin-top: 3.5rem;
        padding: 2.5rem 0;
        border-top: 1.5px solid #eaeaea;

        a {
            padding: .5rem 1rem;
            text-decoration: underline;
            color: #B07E4B;
        }

        span {
            display: none;
        }
    }
}

@media only screen and (max-height: 800px) {

    h1 {
        font-size: 3.5rem;
    }

    .gears {
        width: auto;
        height: 250px;
    }
}