@font-face {
  font-family: Silka;
  font-weight: 700;
  src: url(assets/fonts/silka-bold.woff2);
}
@font-face {
  font-family: Silka;
  font-weight: 600;
  src: url(assets/fonts/silka-semibold.woff2);
}
@font-face {
  font-family: Silka;
  font-weight: 500;
  src: url(assets/fonts/silka-medium.woff2);
}
@font-face {
  font-family: Silka;
  font-weight: 400;
  src: url(assets/fonts/silka-regular.woff2);
}
@font-face {
  font-family: SignPainter;
  font-weight: 500;
  src: url(assets/fonts/signpainter.woff2);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Silka";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem 3rem;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.social-links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  margin-left: 1rem;
  background: white;
  -webkit-box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
}
.social-links a svg {
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}
.social-links a:hover svg {
  fill: #B07E4B;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: SignPainter;
  font-size: 4.5rem;
  color: #442A1B;
  text-align: center;
  margin: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gears {
  width: 460px;
  height: 350px;
}

p {
  font-family: Silka, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #27160E;
  text-align: center;
  margin: 0 0 3rem 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.5rem 1.75rem;
  border-radius: 6px;
  background: #FCBC00;
  color: #442A1B;
  text-decoration: none;
  letter-spacing: 2px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  -webkit-transition-property: background-color, -webkit-transform, -webkit-box-shadow;
  transition-property: background-color, -webkit-transform, -webkit-box-shadow;
  transition-property: transform, background-color, box-shadow;
  transition-property: transform, background-color, box-shadow, -webkit-transform, -webkit-box-shadow;
  -webkit-box-shadow: 0 16px 40px rgba(252, 188, 0, 0.32);
          box-shadow: 0 16px 40px rgba(252, 188, 0, 0.32);
  cursor: pointer;
}
a.button svg {
  margin-right: 0.75rem;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
a.button:hover {
  -webkit-box-shadow: 0 8px 24px rgba(252, 188, 0, 0.16);
          box-shadow: 0 8px 24px rgba(252, 188, 0, 0.16);
  -webkit-transform: translate3d(0, 4px, 0);
          transform: translate3d(0, 4px, 0);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  font-weight: 500;
  color: #442A1B;
}
footer a {
  position: relative;
  text-decoration: none;
  color: #442A1B;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  padding: 1rem 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}
footer a:hover {
  text-decoration: underline;
  color: #B07E4B;
}
footer span {
  display: block;
  padding-left: 0.5rem;
  color: #442A1B;
}
footer p {
  font-size: 1rem;
  margin: 0;
  color: #442A1B;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 700px) {
  header {
    position: relative;
    margin-bottom: 3.5rem;
    border-bottom: 1.5px solid #eaeaea;
  }

  nav {
    padding: 2rem 0.5rem;
  }

  .social-links a {
    width: 50px;
    height: 50px;
    margin-left: 0.75rem;
  }

  br {
    display: none;
  }

  p {
    margin-bottom: 2rem;
  }

  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 0 1rem 0rem 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  .gears {
    width: 90vw;
    height: auto;
  }

  footer {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3.5rem;
    padding: 2.5rem 0;
    border-top: 1.5px solid #eaeaea;
  }
  footer a {
    padding: 0.5rem 1rem;
    text-decoration: underline;
    color: #B07E4B;
  }
  footer span {
    display: none;
  }
}
@media only screen and (max-height: 800px) {
  h1 {
    font-size: 3.5rem;
  }

  .gears {
    width: auto;
    height: 250px;
  }
}